<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas</title>
    <link rel="stylesheet" href="../bootstrap-5.3.0-dist/css/bootstrap.css">
</head>
<body class="bg-primary">
    <div class="row justify-content-center">
        <div class="col-md-6 pt-3">
            <h1>Hacer una consulta</h1>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form class="row g-3 mt-3 pt-3">
                   
                    <div class="row mb-3 pt-3">
                        <label class="col-2 col-form-label" for="nombre">Docente</label>
                        <div class="col-10">
                            <input type="text" id="Docente" placeholder="nombre docente">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-2 col-form-label" for="nombre">modulo</label>
                        <div class="col-10">
                            <input type="text" id="consulta" placeholder="modulo">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-2 col-form-label" for="nombre">consulta</label>
                        <div class="col-10">
                            <input type="text" id="consulta" placeholder="Consulta">
                        </div>
                    </div>
                    
                    <div class="row justify-content-center pt-3">
                        <div class="col-md-6" >
                            <input type="button" value="Hacer consulta">
                        </div>
                       
                    </div>
                    <div class="row justify-content-center pt-2">
                        <div class="col-md-6">
                        <button id="cerrar_sesion">Cerrar sesión</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
    
</body>
</html> -->